@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-el-messiri);
  --font-mono: var(--font-ibm-plex-mono);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

body {
  background: #0a0a0a;
  color: #ededed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(232, 168, 56, 0.3);
  color: #fff;
}

.font-display {
  font-family: var(--font-el-messiri), serif;
}

.font-mono {
  font-family: var(--font-ibm-plex-mono), monospace;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
